body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

header {
    background: #0b43d1;
    padding: 15px;
    text-align: center;
    color: white;
    font-size: 42px;
}

h2 {
    color: #0b43d1;
    text-align: center;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.forgot-password {
    display: block;
    text-align: right;
    color: #0b43d1;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background: green;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: darkgreen;
}